{
  "parserOptions": {
    "ecmaVersion": 2019,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "extends": ["eslint:recommended"],
  "rules": {
    "strict": ["error", "never"],
    "no-mixed-spaces-and-tabs": "off"
  },
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  }
}
