/* General Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

input {
    font-size: 14px;
}

body {
    line-height: 1.4;
    color: #333333;
    font-family: Helvetica, Arial, sans-serif;
}

h1 {
    margin-bottom: 16px;
}

label {
    display: block;
    font-size: 14px;
    margin-bottom: 8px;
    color: #777;
}

input {
    border: 1px solid #eeeeee;
    padding: 12px;
    outline: none;
}

button {
    cursor: pointer;
    padding: 12px;
    background: #7C5CBF;
    border: none;
    color: white;
    font-size: 16px;
    transition: background .3s ease;
}

button:hover {
    background: #6b47b8;
}

button:disabled {
    cursor: default;
    background: #7c5cbf94;
}

/* Join Page Styles */

.centered-form {
    background: #333744;
    width: 100vw;
    height: 100vh;   
    display: flex;
    justify-content: center;
    align-items: center;
}

.centered-form__box {
    box-shadow: 0px 0px 17px 1px #1D1F26;
    background: #F7F7FA;
    padding: 24px;
    width: 350px;
}

.switcher {
    display: flex;
    justify-content: space-between;
    height: 50px;
}

.switcher .switcher__button {
    display: inline;
    width: 48%;
    background: #7c5cbf94;
}

.switcher__button.switcher__button--active {
    background: #7C5CBF;
}

.centered-form__box .hidden {
    display: none;
}

.centered-form button {
    width: 100%;
}

.centered-form input {
    margin-bottom: 16px;
    width: 100%;
}

.select-dropdown {
    display: block;
    margin: 0;
    margin-bottom: 16px;
    color: #444;
    line-height: 16px;
    padding: 12px;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
    linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}
.select-dropdown::-ms-expand {
    display: none;
}
.select-dropdown:hover {
    border-color: #888;
}
.select-dropdown:focus {
    border-color: #aaa;
    color: #222;
    outline: none;
}
.select-dropdown option {
    font-weight: normal;
}


/* Chat Page Layout */

.chat {
    display: flex;
    justify-content: space-between;
}

.poker {
    display: flex;
    width: calc(50% - 125px);
    height: 100vh;
    padding: 20px;
}

.poker__column {
    width: 50%;
}

.poker__points {
    display: flex;
    flex-wrap: wrap;
}

.poker_button {
    display: inline-block;
    margin: 10px 5px;
    border-radius: 0.2em;
    box-sizing: border-box;
    font-family:'Roboto',sans-serif;
    font-weight: 400;
    color:#FFFFFF;
    background-color:#3369ff;
    box-shadow:inset 0 -0.6em 1em -0.35em rgba(0,0,0,0.17),inset 0 0.6em 2em -0.3em rgba(255,255,255,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
    text-align: center;
    position: relative;
}

.poker_button:hover {
    background-color:#3369ff;
}

.poker_button:active {
    box-shadow:inset 0 0.6em 2em -0.3em rgba(0,0,0,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
}

.poker_button.vote {
    width: 50px;
    height: 50px;
}

.chat__sidebar {
    height: 100vh;
    color: white;
    background: #333744;
    width: 250px;
    overflow-y: scroll
}

/* Chat styles */

.chat__main {
    width: calc(50% - 125px);
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    border-left: 1px solid #e9e9e9;
}

.chat__messages {
    flex-grow: 1;
    padding: 24px 24px 0 24px;
    overflow-y: scroll;
}

/* Message Styles */

.message {
    margin-bottom: 16px;   
}

.message__name {
    font-weight: 600;
    font-size: 14px;
    margin-right: 8px;
}

.message__meta {
    color: #777;
    font-size: 14px;
}

.message a {
    color: #0070CC;
}

/* Message Composition Styles */

.compose {
    display: flex;
    flex-shrink: 0;
    margin-top: 16px;
    padding: 24px;
}

.compose form {
    display: flex;
    flex-grow: 1;
    margin-right: 16px;
}

.compose input {
    border: 1px solid #eeeeee;
    width: 100%;
    padding: 12px;
    margin: 0 16px 0 0;
    flex-grow: 1;
}

.compose button {
    font-size: 14px;
}

/* Chat Sidebar Styles */

.room-title {
    font-weight: 400;
    font-size: 22px;
    background: #2c2f3a;
    padding: 24px;   
}

.list-title {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 4px;
    padding: 12px 24px 0 24px;
}

.users {
    list-style-type: none;
    font-weight: 300;
    padding: 12px 24px 0 24px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 15%; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    height: 150px;
    margin: auto;
    padding: 20px;
    background-color: #fefefe;
    border: 1px solid #888;
}

.modal-content__title {
    margin-bottom: 20px;
}

/* The Close Button */
.close {
    position: absolute;
    top: 0;
    right: 10px;
    color: #aaaaaa;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.join-form {

}

.join-form__input {

}

.join-form__smbBtn {

}

/* Voted list */
.voted-list {}

.voted-list__row {
    display: flex;
    margin-bottom: 5px;
}

.voted-list__cell {
    width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.voted-list__cell.vote {
    width: 100px;
}

.voted-list__cell--bold {
    font-weight: bold;
}

.voted-list__cell--hidden {
    background-color: lightgray;
    color: lightgray;
}
